.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://png.pngtree.com/background/20220725/original/pngtree-people-in-headphones-record-podcast-with-microphones-and-sound-studio-tools-picture-image_1775020.jpg"); /* Thay thế link này bằng URL của hình nền */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Để đảm bảo phần tử nền nằm dưới nội dung chính */
}
.App {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.App .history-container {
  margin-top: 1rem;
  max-width: 550px;
}
.App .body-app {
  background: #ffffff;
  box-shadow: #c9bebe 0px 0px 3px 0px;
  margin-top: 1rem;
  text-align: center;
  margin: 1rem;
}

.body-app .sub-body {
  padding: 2rem;
}

.history-container .sub-history {
  padding: 2rem;
  text-align: center;
  background: #ffffff;
  box-shadow: #c9bebe 0px 0px 3px 0px;
}

.sub-history h2 {
  font-size: 27px;
  color: #5454d4;
  font-family: emoji;
}

.sub-history ul {
  font-size: 14px;
  color: #5454d4;
  font-family: emoji;
  list-style-type: disclosure-closed;
  text-transform: uppercase;
}

.body-app .App-header h1 {
  text-transform: uppercase;
  color: #2121c9;
  font-size: 29px;
}
.voice-recording {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.record-button {
  padding: 0.5rem;
  color: blue;
  border: 1px solid #dfc1c1;
  font-size: 17px;
  font-family: cursive;
  cursor: pointer;
  transition: background-color 0.3s;
}

.record-button.recording {
  background-color: red;
  color: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.spoken-text {
  margin-top: 20px;
}

.spoken-text h2 {
  font-size: 27px;
  color: #5454d4;
  font-family: emoji;
}

.spoken-text p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-size: 22px;
  color: #3a3ac6;
  font-family: fangsong;
  letter-spacing: 0.5px;
  line-height: 29px;
}
